@import url('https://fonts.googleapis.com/css?family=Gugi|Nanum+Gothic');
@import '../node_modules/bulma';
@import '../node_modules/pikaday/scss/pikaday';

$main-font: 'Gugi', cursive;
@mixin full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@mixin offscreen {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
html {
  @include full;
}
body {
  @include full;
  padding: 0;
  margin: 0;
}
.root{
  @include full;
  display: flex;
  flex-direction: column;
}
.sign-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, $primary, darken($primary, 20%));
  .card {
    padding: 2em 1em 1em;
    width: 100%;
    max-width: 500px;
    border-radius: $radius
  }
  &__title {
    text-align: center;
  }
}

.login-form {
  &__link {
    display: flex;
    align-items: center;
  }
  &__btn-submit {
    width: 100%;
  }
  &__btn-link {
    &.is-text {
      color: $primary
    }
  }
}

.header {
  display: flex;
  padding: 0.5em 1em;
  justify-content: space-between;
  background-image: linear-gradient(70deg, $primary, darken($primary, 10%));
  color: #fff;
  &__logo {
    font-family: $main-font;
    font-size: 1.5em;
  }
  &__btn-logout {
    font-family: $main-font;
    color: #fff;
    border: 0;
    border-radius: $radius;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:focus,
    &:hover {
      background-color: rgba(#aaa, 0.5);
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  body > & {
    position: fixed;
  }
  img {
    width: 100px;
  }
}

.contents {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.project-content {
  flex: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #eee;
}
.project-utils {
  display: flex;
  width: 350px;
  margin: 2em auto;
  padding: 0 1em;
  justify-content: center;
}
.task-sort {
  position: relative;
  margin-left: 0.5em;
  &__body {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background-color: #fff;
    .task-sort--open & {
      display: flex;
      flex-direction: column;
    }
  }
  &__label {
    white-space: nowrap;
    position: relative;
    padding-left: 35px;
    height: 25px;
    &:not(:first-child) {
      margin-top: 1em;
    }
    .radiomark {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      border: 1px solid #ddd;
      color: #ddd;
    }
  }
  &__radio {
    position: absolute;
    opacity: 0;
    &:checked {
      & ~ .radiomark {
        border-color: $blue;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          transform: scale(0.7);
          background-color: $blue;
        }
      }
      & ~ span {
        color: $blue;
      }
    }
  }
}
.project-write-form {
  margin: 0 auto 1em;
  .button {
    width: 350px;
  }
  .input {
    width: 350px;
    display: none;
  }
  &--writing {
    .input {
      display: block;
    }
    .button {
      display: none;
    }
  }
}

.project-list {
  flex: auto;
  display: flex;
  padding: 0 1em;
  width: 100%;
  overflow-x: scroll; 
  height: 1px;
}

.project-item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-right: 0.5em;
  vertical-align: top;
  position: relative;
  &.box {
    margin-bottom: 1.5em;
  }
  &--delete {
    display: none;
  }
  &__title {
    position: relative;
    &-shadow {
      width: 100%;
      white-space: normal;
      word-break: break-word;
    }
    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      resize: none;
      border: 1px solid transparent;
      &:not(:focus) {
        cursor: pointer;
      }
      &:focus {
        outline: none;
        border-radius: 5px;
        border-color: rgba($primary, 0.3);
      }
    }
    &-input, &-shadow {
      box-sizing: border-box;
      padding: 0.2em;
      font-size: 1.8em;
      font-weight: bold;
    }
  }
  &__btn-delete {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__btn-add-task {
    width: 100%;
    margin: 0.5em 0;
  }
}

.date-term {
  margin-bottom: 0.5em;
  color: #aaa;
}
.task-list {
  flex: auto;
  height: 100%;
  padding: 0.5em 0.1em;
  overflow-y: auto;
}
.task-item {
  display: flex;
  flex-direction: column;
  position: relative;
  &--delete {
    display: none;
  }
  .delete {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__complete-checkbox {
    width: 25px;
    display: block;
    position: relative;
    cursor: pointer;
    order: -1;
    margin-bottom: 1em;
    &.checked {
      .checkmark {
        animation: checkMark 0.3s
      }
    }
    input {
      position: absolute;
      opacity: 0;
      &:checked ~ .checkmark {
        border-color: rgba($primary, 0.5);
        color: $primary;
      } 
    }
    .checkmark {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 25px;
      border: 1px solid #ddd;
      color: #ddd;
      font-size: 0.8em;
      border-radius: 100%;
    }
  }
}

@keyframes checkMark {
  0% {
    box-shadow: 0 0 0 0 rgba($purple, 0.5);
  }
  50% {
    box-shadow: 0 0 15px 1px rgba($purple, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($purple, 0.5);
  }
}

.task-write-modal {
  display: flex;
}

.set-term {
  display: flex;
  .control {
    margin-right: 0.5em;
  }
}

.label-color-select {
  position: relative;
  &:focus {
    outline: none;
  }
  .tag {
    margin: 0 0.2em;
    width: 36px;
    height: 36px;
    cursor: pointer;
    &.no-color {
      border: 1px solid $grey-lighter;
    }
  }
  &__btn {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  &__list {
    padding: 0.5em 0.3em;
    display: none;
    border-radius: $radius;
    border: 1px solid $grey-lighter;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate(-0.5em, -0.5em);
    .label-color-select--open & {
      display: flex;
    }
  }
  &__item {
    position: relative;
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:checked + label i {
        display: block
      }
    }
    label {
      vertical-align: top;
      i {
        display: none;
      }
    }
  }
}

.task-form__label {
  align-items: flex-start;
  .label-selected-body {
    display: none
  }
  &--selected {
    .label-color-select, .label-body {
      display: none;
    }
    .label-selected-body {
      display: block;
    }
  }
}
.label-body {
  &__list {
    display: none;
    padding: 0.5em;
    max-height: 8em;
    overflow-y: auto;
    margin-top: $radius * -1;
    border: 1px solid $grey-lighter;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background: #fff;
    .tag {
      cursor: pointer;
    }
    .label-body--open & {
      display: block;
    }
  }
}

.task-modal {
  display: flex;
  &__date {
    margin-bottom: 1em;
  }
  &__body {
    margin-bottom: 2em;
  }
  &__activities {
    border-top: 1px solid #eee;
    margin-top: 2em;
    padding-top: 1em;
  }
}

.activity-list {
  margin-top: 1em;
}
.activity-item {
  display: flex;
  align-items: center;
  padding: 0.5em 0.3em;
  &:nth-child(even) {
    background-color: #eee;
  }
  &__body {
    flex-grow: 1;
    position: relative;
    &-shadow {
      opacity: 0;
    }
    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      resize: none;
      background-color: transparent;
      &:not(:focus) {
        cursor: pointer;
      }
      &:focus {
        outline: none;
        border-radius: 5px;
        border-color: rgba($primary, 0.3);
      }
    }
    &-shadow, &-input {
      padding: 0.3em;
    }
  }
  .date {
    padding: 0 0.8em;
    color: #bbb
  }
}

textarea {
  resize: none
}