@import url('https://fonts.googleapis.com/css?family=Chela+One|Nanum+Gothic');
@import '../node_modules/bulma';

$main-font: 'Chela One', cursive;

.header {
  display: flex;
  background-color: $primary;
  color: #fff;
  &__logo {
    font-family: $main-font;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
  }
}

// .task-sort__body {
//   display: none;
// }
.project-write-form {
  .input {
    display: none;
  }
  &--writing {
    .input {
      display: block;
    }
    .button {
      display: none;
    }
  }
}

.project-item {
  &--delete {
    display: none;
  }
  &__title {
    position: relative;
    &-shadow {
      width: 100%;
      word-break: break-word;
    }
    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      resize: none;
      border: 1px solid transparent;
      &:not(:focus) {
        cursor: pointer;
      }
      &:focus {
        outline: none;
        border-radius: 5px;
        border-color: rgba($primary, 0.3);
      }
    }
    &-input, &-shadow {
      box-sizing: border-box;
      padding: 0.2em;
      font-size: 1.8em;
      font-weight: bold;
    }
  }
}

.task-item {
  &--delete {
    display: none;
  }
}

.task-write-modal {
  display: flex;
}

.set-term {
  display: flex;
  .control {
    margin-right: 0.5em;
  }
}

.label-color-select {
  position: relative;
  .tag {
    margin: 0 0.2em;
    width: 36px;
    height: 36px;
    cursor: pointer;
    &.no-color {
      border: 1px solid $grey-lighter;
    }
  }
  &__btn {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  &__list {
    padding: 0.5em 0.3em;
    display: none;
    border-radius: $radius;
    border: 1px solid $grey-lighter;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate(-0.5em, -0.5em);
    .label-color-select--open & {
      display: flex;
    }
  }
  &__item {
    position: relative;
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:checked + label i {
        display: block
      }
    }
    label {
      vertical-align: top;
      i {
        display: none;
      }
    }
  }
}

.task-form__label {
  align-items: flex-start
}
.label-body {
  &__list {
    display: none;
    padding: 0.5em;
    max-height: 8em;
    overflow-y: auto;
    margin-top: $radius * -1;
    border: 1px solid $grey-lighter;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background: #fff;
    .tag {
      cursor: pointer;
    }
    .label-body--open & {
      display: block;
    }
  }
}